<div class="wrapper">
    <div class="col m-auto col-left">
        <div class="box d-flex flex-column align-items-start">
            <h2 class="mb-5 text-uppercase login-header">Attendance Portal</h2>
            <h3 class="mb-3">Login</h3>
            <!-- <label for="username" id="username" class="text-danger">Username is incorrect</label> -->
            <input type="text" id="username" name="username" class="i-box mb-3" placeholder="*Username (Email)">
            <!-- <label for="password" id="password" class="text-danger">Password is incorrect</label> -->
            <input type="password" id="password" name="password" class="i-box" placeholder="*Password">
            <button class="btn btn-primary my-4 btn-color" routerLink="">Login</button>
            <!-- <a routerLink="/admin-dashboard">Click</a> -->
        </div>
    </div>
    <div class="col col-right m-auto text-center "><img src="../assets/Img/login-cover.png" class="loginCover"></div>
</div>
