<!-- <div class="mt-5">
  <h3 class="text-center">Department List</h3>
</div>
<table class="table table-striped">
  <thead>
    <tr class="sticky-top">
      <th scope="col">Department ID</th>
      <th scope="col">Department Name</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody *ngIf="service.list.length > 0">
    <tr *ngFor="let dl of service.list">
      <th scope="row">{{dl.DepartmentId}}</th>
      <td>{{dl.DepartmentName}}</td>
      <td>Delete</td>
    </tr>
  </tbody>
</table> -->