<main>
    <div class="pt-4">
        <div class="mb-4">
            <a routerLink="">Admin</a> > <a href="#">Home</a>
        </div>
        <div>
            <h3>Dashboard</h3>
        </div>
        <div class="wrapper">
            <div class="dash-box d-box-colour1"><a routerLink="/register">Register</a></div>
            <div class="dash-box d-box-colour2"><a routerLink="/department">Department</a></div>
        </div>
        <div class="wrapper">
            <div class="dash-box d-box-colour3"><a routerLink="/mark-attendance">Mark Attendance</a></div>
            <div class="dash-box d-box-colour4"><a routerLink="/view-attendance">View Attendance</a></div>
        </div>
    </div>
</main>