<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href=""><img src="../../assets/image/Logo.gif"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" routerLink="">Home <span class="sr-only">(current)</span></a>
            <a class="nav-link" routerLink="register">Register</a>
            <a class="nav-link" routerLink="verify">Verify</a>
            <a class="nav-link" routerLink="department">Department</a>
            <a class="nav-link" routerLink="mark-attendance">Mark Attendance</a>
            <a class="nav-link" routerLink="view-attendance">View Attendance</a>
        </div>
    </div>
</nav>