.bg{
    width: 100vw;
    height: 100vh;
    /* Add your background pattern here */
    background-color: #ffffff;
    background-image: radial-gradient(rgba(0, 128, 128, 0.103) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
}